@model WebApplication1.Models.nilSikapKI1KI2

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>nilSikapKI1KI2</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sekolahCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sekolahCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kelasCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kelasCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mapelCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mapelCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KI1KI2nilaiSatu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KI1KI2nilaiSatu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KI1KI2nilaiDua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KI1KI2nilaiDua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KI1KI2nilaiTiga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KI1KI2nilaiTiga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KI1KI2nilaiEmpat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KI1KI2nilaiEmpat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KI1KI2nilaiTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KI1KI2nilaiTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KI1KI2Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
