@model WebApplication1.Models.perSiswa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>perSiswa</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.namaSiswa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namaSiswa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kotaSiswa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kotaSiswa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alamatSiswa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alamatSiswa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noTeleponSiswa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noTeleponSiswa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.nis }) |
    @Html.ActionLink("Back to List", "Index")
</p>
