@model IEnumerable<WebApplication1.Models.perAdmin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adminCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.namaAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kotaAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alamatAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noTeleponAdmin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.adminCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.namaAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kotaAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alamatAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noTeleponAdmin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.adminCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.adminCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.adminCode })
        </td>
    </tr>
}

</table>
