@model WebApplication1.Models.nilKetrampilanPsikomotorikKI4

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>nilKetrampilanPsikomotorikKI4</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sekolahCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sekolahCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kelasCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kelasCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mapelCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mapelCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KI4nilaiSatu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KI4nilaiSatu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KI4nilaiDua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KI4nilaiDua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KI4nilaiTiga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KI4nilaiTiga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KI4nilaiEmpat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KI4nilaiEmpat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KI4nilaiTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KI4nilaiTotal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
