@model IEnumerable<WebApplication1.Models.nilUtsUas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.utsUasCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sekolahCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kelasCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mapelCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nilaiUts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nilaiUas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.utsUasCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sekolahCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kelasCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mapelCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nilaiUts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nilaiUas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.utsUasCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.utsUasCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.utsUasCode })
        </td>
    </tr>
}

</table>
